extends layout.pug

block content
    h1= message
    p
        a(href="/quiz_ranking/" + quiz_id) Ranking
    p
        if user
            a(href="/user_stats/" + quiz_id) Moje statystyki
    p
        if user
            a(href="/start/" + quiz_id) Przejdź do quizu

