doctype html
html(lang="pl-PL")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        include addToken.pug
        link(rel="stylesheet" type="text/css" media="screen" href="/static/main.css")
        link(rel="stylesheet" type="text/css" media="screen" href="/static/userPage.css")
        block headTitle
            title QUIZ
        block head
    body
        p
        if user
            a(href="/change_passwd") Zmień hasło
            br
            br
            a(href="/logout") Wyloguj
            br
            br
            br
            a(href="/create_quiz") Stwórz quiz

        else
            a(href="/login") Zaloguj

        br
        br
        a(href="/choose_quiz") Quizy
        block content
